body {  
  font:"Raleway",sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  min-height: 100vh;
  opacity: 65%;
  background: linear-gradient(45deg, red, blue);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}